.d_alert-wrap.js_alert.js_prevent_skip
  .d_alert.js_gui_element
    .d_alert__content.js_alert_content
      .d_alert__description.js_alert_desc
      .d_alert__answers
        .d_alert__cancel.d_button.js_alert_cancel Cancel
        .d_alert__confirm.d_button.d_button--warning.js_alert_confirm OK
