doctype html
html
  head
    link(rel="manifest" href="static/manifest.json")
    link(rel="stylesheet" href="app.css?v=5")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Droplet Engine
  body
    .d_version v0.28.0
    .d_main-wrapper.js_main_wrapper
      .d_choose-wrap.js_choose-wrap.d_gui-element.js_gui_element
        .d_choose.js_choose
      .d_textbox-wrap.js_textbox_wrap.d_gui-element.js_gui_element
        .d_speaker.js_speaker
        .d_textbox.js_textbox
      .d_input-wrap.js_input-wrap.d_gui-element.js_gui_element
        input.d_input.js_input(type="text")
        div.d_button.js_input_button OK
      .d_fader.d_fader--visible.js_fader
    script(src="vendor/pixi.min.js")
    script(src="vendor/howler.core.min.js")
    script(src="vendor/fpsmeter.min.js")
    script.
      function loadApp() {
        var script = document.createElement('script');
        script.src = isChrome ? 'app.js' : 'app-fallback.js';
        document.body.appendChild(script);
      }

      var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

      if (!isChrome) {
        var scriptElements = document.createElement('script');
        scriptElements.onload = function() {
          loadApp(isChrome);
        };
        scriptElements.src = 'vendor/customelements.min.js';
        document.body.appendChild(scriptElements);
      } else {
        loadApp(isChrome);
      }
