doctype html
html
  head
    link(rel="manifest" href="static/manifest.json")
    link(rel="stylesheet" href=("app.css?v=" + version))
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Droplet Engine
  body
    .d_version #{version}

    .d_main-wrapper.js_main_wrapper
      .d_main-menu.js_main_menu_wrap.d_gui-element.js_gui_element.d_gui-interactive
        .d_main-menu__inner.js_main_menu

        .d_submenu
          include load
          include settings

      include choose
      include textbox
      include game_menu
      include narrator
      include input

    .d_fader.d_fader--visible.js_fader

    script(src="vendor/pixi.min.js")
    script(src="vendor/howler.core.min.js")
    script(src="vendor/fpsmeter.min.js")
    script.
      function loadApp() {
        var script = document.createElement('script');
        script.src = isChrome ? 'app.js' : 'app-fallback.js';
        script.src += '?v=#{version}';
        document.body.appendChild(script);
      }

      var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

      if (!isChrome) {
        var scriptElements = document.createElement('script');
        scriptElements.onload = function() {
          loadApp(isChrome);
        };
        scriptElements.src = 'vendor/customelements.min.js';
        document.body.appendChild(scriptElements);
      } else {
        loadApp(isChrome);
      }
