doctype html
html
  head
    link(rel="stylesheet" href="app.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .b_character_name Sample Name
    .b_textbox.js_textbox
    .b_main-wrapper
    script(src="vendor/pixi.min.js")
    script(src="vendor/fpsmeter.min.js")
    script(src="app.js")
