doctype html
html
  head
    link(rel="manifest" href="static/manifest.json")
    link(rel="stylesheet" href=("app.css?v=" + version))
    link(rel="prefetch" href="static/fonts/Roboto-Bold.woff2")
    link(rel="prefetch" href="static/fonts/Roboto-Light.woff2")
    link(rel="prefetch" href="static/fonts/Roboto-Medium.woff2")
    link(rel="prefetch" href="static/fonts/Roboto-Regular.woff2")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Droplet Engine
  body
    .d_version #{version}

    .d_dimension-helper.js_dimension_helper
      .d_dimension-helper__scale.js_scale_helper

    .d_effect-wrapper.js_effect_wrapper
      .d_blink.js_blink.js_gui_element
        svg(width='100%', height='100%', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          defs
            filter(id="f1", x="0", y="0")
              feGaussianBlur(in="SourceGraphic", stdDeviation="15")
            mask#Mask
              rect(x='0', y='0', width='100%', height='100%', fill='white')
              ellipse(cx="50%", cy="50%", rx="75%", ry="50%", filter="url(#f1)")
          rect(x='0', y='0', width='100%', height='100%', fill='black', mask="url(#Mask)")

    .d_main-wrapper.js_main_wrapper
      .d_main-menu.js_main_menu_wrap.d_gui-element.js_gui_element.d_gui-interactive
        .d_main-menu__inner.js_main_menu

      include choose
      include textbox
      include game_menu
      include narrator
      include input

      include history
      include save
      include settings
      include alert

    .d_fader.d_fader--visible.js_fader

    script(src="vendor/live2d.min.js")
    script(src="vendor/pixi.min.js")
    script(src="vendor/pixi-live2d.min.js")
    script(src="vendor/pixi-particles.min.js")
    script(src="vendor/howler.core.min.js")
    script(src="vendor/fpsmeter.min.js")
    script(src="vendor/resourceloader.min.js")
    script.
      function loadApp() {
        var scriptElement = document.createElement('script');
        scriptElement.src = isChrome ? 'app.js' : 'app-fallback.js';
        scriptElement.src += '?v=#{version}';
        document.body.appendChild(scriptElement);
      }

      var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

      if (!isChrome) {
        var scriptElement = document.createElement('script');
        scriptElement.onload = function() {
          loadApp(isChrome);
        };
        scriptElement.setAttribute('async', '');
        scriptElement.src = 'vendor/customelements.min.js';
        document.body.appendChild(scriptElement);
      } else {
        loadApp(isChrome);
      }
