.d_submenu__inner.d_submenu__load.d_gui-element.d_gui-element--disable.js_submenu.js_submenu_load
  - var n = 0;
  while n < 9
    .d_submenu__load__tile
      img.d_submenu__load__thumbnail(src="static/school_1.jpg")
      div.d_submenu__load__title 2017. 01. 21 - 65%
    - n++
