.d_settings-wrap.js_settings.js_prevent_skip
  .d_settings.js_gui_element
    .d_settings__main-title Settings
    .d_settings__content.js_settings_content
      .d_settings__col
        .d_settings__title Master volume
        d-slider
      .d_settings__col
        .d_settings__title BGM volume
        d-slider
      .d_settings__col
        .d_settings__title Effects volume
        d-slider
    .d_settings__back.d_button.js_settings_back Back
