.d_alert {
  align-items: center;
  display: flex;
  justify-content: center;
  
  &__content {
    @include stripe(rgba(#fff,.4));

    outline: 2px solid #fff;
    padding: 30px;
    position: relative;
    width: 50%;
  }

  &__description {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 60px;
    text-shadow: $text-shadow;
  }

  .d_button {
    margin: 0 30px;
  }
}
