.d_choose {
  @include stripe;

  border: 2px solid rgba(#000,.4);
  box-shadow: 8px 8px 0 0 rgba(#000,.4);
  left: 50%;
  line-height: 1.35;
  outline: 2px solid #fff;
  padding: 8px;
  position: absolute;
  top: calc(50% - 127px);
  transform: translate(-50%, -50%);
  width: 70%;
  word-wrap: break-word;

  &__option {
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    font-size: 38px;
    font-weight: bold;
    padding: 20px 30px;
    text-align: left;
    text-shadow: $text-shadow;

    &--active {
      background: linear-gradient(0deg, rgba(#000,.6), rgba(#000,0)), rgba(#2a8bff,.4);
      border: 2px solid #fff;
      transition: background .2s linear;
    }

    &--blink {
      animation: blink_chosen .2s linear infinite;
    }
  }
}

@keyframes blink_chosen {
  50% {
    background: linear-gradient(0deg, rgba(#000,.3), rgba(#000,0)), rgba(#2a8bff,.2);
    border: 2px solid rgba(#fff,.5);
  }
}
