.d_input-wrap {
  align-items: center;
  display: flex;
  height: 1080px;
  justify-content: center;
  left: 0;
  margin: auto;
  overflow: hidden;
  padding-bottom: 250px;
  position: absolute;
  top: 0;
  transform-origin: left top;
  width: 1920px;


  .d_button {
    margin-left: 16px;
  }
}

.d_input {
  @include stripe;
  @extend %text-default;

  border: 2px solid rgba(#000,.4);
  box-shadow: 8px 8px 0 0 rgba(#000,.4);
  color: #fff;
  height: 72px;
  line-height: 1.35;
  outline: 2px solid #fff;
  padding: 8px;
  text-shadow: $text-shadow;
  width: 50%;

  &:focus {
    outline-offset: 0;
  }
}
