.d_save {
  &__main-title {
    @include stripe;

    color: #fff;
    font-size: 48px;
    font-weight: bold;
    height: 90px;
    left: 0;
    line-height: 90px;
    padding-left: 60px;
    position: absolute;
    text-align: left;
    text-shadow: $text-shadow;
    top: 0;
    width: 100%;
  }

  &__content {
    @extend %scrollbar;
    
    backface-visibility: hidden;
    height: calc(100% - 210px);
    margin: 90px 0 0;
    overflow: auto;
    overflow-y: visible;
    padding: 0 30px;
    position: relative;
  }

  &__tile {
    background: linear-gradient(0deg, rgba(#000,.1) 2px, transparent 2px, transparent 0), rgba(#000,.4);
    background-position: center, center;
    background-size: auto 4px, auto;
    height: 220px;
    margin: 30px 0;
    position: relative;
  }

  &__thumbnail {
    height: 180px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 320px;
  }

  &__title {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    left: 380px;
    position: absolute;
    right: 380px;
    text-align: left;
    text-shadow: $text-shadow;
    top: 50%;
    transform: translateY(-50%);
  }

  &__date {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    left: 380px;
    position: absolute;
    text-shadow: $text-shadow;
    top: 20px;
  }

  &__button-wrap {
    bottom: 20px;
    position: absolute;
    right: 10px;

    .d_button {
      margin: 0 10px;
    }
  }

  &__delete {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__number {
    background: rgba(#000,.4);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    left: 20px;
    line-height: 40px;
    position: absolute;
    text-shadow: $text-shadow;
    top: 20px;
    width: 80px;
  }

  &__back {
    bottom: 20px;
    left: 60px;
    position: absolute;
  }
}
