.d_settings {
  &__main-title {
    @include stripe;

    color: #fff;
    font-size: 48px;
    font-weight: bold;
    height: 90px;
    left: 0;
    line-height: 90px;
    padding-left: 60px;
    position: absolute;
    text-align: left;
    text-shadow: $text-shadow;
    top: 0;
    width: 100%;
  }

  &__content {
    @extend %scrollbar;
    @include stripe;

    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100% - 240px);
    margin: 120px 30px;
    overflow: auto;
    overflow-y: visible;
    padding: 30px;
    position: relative;
    text-align: left;
  }

  &__col {
    @extend %text-default;

    flex: 0 0 10%;
    padding: 30px 0;
    text-shadow: $text-shadow;
    width: 25%;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__back {
    bottom: 20px;
    left: 30px;
    position: absolute;
  }
}
