.d_settings-wrap {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .3s;

  &--visible {
    opacity: 1;
    pointer-events: all;

    .d_settings,
    .d_settings * {
      pointer-events: all;
    }
  }
}

.d_settings {
  height: 1080px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  padding: 120px 30px;
  top: 50%;
  transform-origin: left top;
  width: 1920px;

  &:before {
    background: url('./static/submenu_1.jpg');
    background-size: 100%;
    background-position: center center;
    bottom: -100px;
    content: '';
    filter: blur(10px);
    left: -100px;
    position: absolute;
    right: -100px;
    top: -100px;
  }

  &__main-title {
    @include stripe;

    color: #fff;
    font-size: 48px;
    font-weight: bold;
    height: 90px;
    left: 0;
    line-height: 90px;
    padding-left: 60px;
    position: absolute;
    text-align: left;
    text-shadow: $text-shadow;
    top: 0;
    width: 100%;
  }

  &__content {
    @extend %scrollbar;
    @include stripe;

    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    overflow-y: visible;
    padding: 30px;
    position: relative;
    text-align: left;
  }

  &__col {
    @extend %text-default;

    flex: 0 0 10%;
    padding: 30px 0;
    text-shadow: $text-shadow;
    width: 25%;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__back {
    bottom: 20px;
    left: 60px;
    position: absolute;
  }
}
