@mixin stripe {
  background: linear-gradient(0deg, rgba(#000,.1) 2px, rgba(#000,0) 2px, rgba(#000,0) 0), linear-gradient(0deg, rgba(#000,.9), rgba(#000,0)), rgba(#000,.4);
  background-position: center, center, center;
  background-size: auto 4px, cover, auto;
}

html {
  height: 100%;
}

body {
  background: #000;
  font-family: 'Arial', sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  text-align: center;
  user-select: none;
  width: 100%;

  *,
  *:before,
  *:after {
    pointer-events: none;
    touch-action: none;
  }
}

canvas {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: left center;
  vertical-align: top;
}

.b_main-wrapper {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;

  &:before,
  &:after {
    background: #000;
    bottom: -10px;
    content: '';
    left: -10px;
    position: absolute;
    top: -10px;
    width: 10px;
  }

  &:after {
    left: auto;
    right: -10px;
  }
}

.b_textbox-wrap {
  bottom: 0;
  height: 1080px;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: left center;
  transition: opacity .3s linear;
  width: 1920px;

  &--visible {
    opacity: 1;
  }
}

.b_textbox {
  @include stripe;

  border-top: 2px solid rgba(#000,.4);
  bottom: 0;
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  height: 250px;
  left: 0;
  line-height: 1.35;
  outline: 2px solid #fff;
  padding: 10px 30px;
  position: absolute;
  right: 0;
  text-align: left;
  text-shadow: 4px 4px 0 #000, 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
  word-wrap: break-word;

  &:not([running]):not([no-next]) {
    &:before {
      animation: blink 1s ease-out infinite;
      border: 20px solid transparent;
      border-bottom-width: 0;
      border-top: 20px solid white;
      bottom: 20px;
      content: '';
      filter: drop-shadow(4px 4px 0 #000);
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 0;
    }
  }
}

.b_textbox-helper {
  height: auto;
  visibility: hidden;
  font-size: 38px;
  font-weight: bold;
  height: 250px;
  padding: 10px 30px;
  position: absolute;
  text-align: left;
  word-wrap: break-word;
  width: 1920px;
}

d-text {
  @for $i from 1 through 5 {
    .b_textbox:not([running]) &[d-blink="#{$i}"] {
      animation: blink $i * 0.2s ease-out infinite;
    }
  }

  &[d-italic] {
    font-style: italic;
  }

  &[d-underline] {
    text-decoration: underline;
  }
}

@keyframes blink {
  50% {
    opacity: .25;
  }
}

.b_speaker {
  @include stripe;

  bottom: 292px;
  box-shadow: inset 0 0 0px 2px rgba(0,0,0,0.2);
  color: #fff;
  filter: drop-shadow(4px 4px 0 rgba(#000,.4));
  font-size: 32px;
  font-weight: bold;
  height: 34px;
  left: 12px;
  line-height: 34px;
  outline: 2px solid #fff;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
  word-wrap: break-word;
}

.b_choose-wrap {
  align-items: center;
  bottom: 250px;
  display: flex;
  height: 1080px;
  justify-content: center;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: left center;
  transition: opacity .3s linear;
  width: 1920px;

  &--visible {
    opacity: 1;
  }
}

.b_choose {
  @include stripe;

  border: 2px solid rgba(#000,.4);
  line-height: 1.35;
  outline: 2px solid #fff;
  padding: 8px;
  width: 70%;
  word-wrap: break-word;

  &__item {
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    font-size: 38px;
    font-weight: bold;
    padding: 10px 30px;
    pointer-events: all;
    text-align: left;
    text-shadow: 4px 4px 0 #000, 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;

    &--active {
      background: linear-gradient(0deg, rgba(#000,.6), rgba(#000,0)), rgba(#2a8bff,.4);
      border: 2px solid #fff;
    }

    &--blink {
      animation: blink_chosen .2s linear infinite;
    }
  }
}

@keyframes blink_chosen {
  50% {
    background: linear-gradient(0deg, rgba(#000,.3), rgba(#000,0)), rgba(#2a8bff,.2);
    border: 2px solid rgba(#fff,.5);
  }
}