body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

canvas {
  vertical-align: top;
}

.b_textbox_wrap {
  display: none;
}

.b_textbox,
.b_textbox-helper {
  background: linear-gradient(0deg, rgba(#000,.1) 60%, rgba(#000,0) 40%, rgba(#000,0) 0), linear-gradient(0deg, rgba(#000,.9), rgba(#000,0)), rgba(#000,.4);
  background-position: center, center, center;
  background-size: 34px auto, cover, auto;
  border-top: 2px solid rgba(#000,.4);
  bottom: 0;
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  height: 250px;
  left: 0;
  line-height: 1.35;
  outline: 2px solid #fff;
  padding: 10px 30px;
  position: absolute;
  right: 0;
  text-align: left;
  text-shadow: 4px 4px 0 #000, 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
  word-wrap: break-word;

  &:not([running]) {
    &:before {
      animation: blink 1s ease-out infinite;
      border: 20px solid transparent;
      border-bottom-width: 0;
      border-top: 20px solid white;
      bottom: 20px;
      content: '';
      filter: drop-shadow(4px 4px 0 #000);
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 0;
    }
  }
}

.b_textbox-helper {
  height: auto;
  pointer-events: 0;
  visibility: hidden;
}

d-text {
  @for $i from 1 through 5 {
    .b_textbox:not([running]) &[d-blink="#{$i}"] {
      animation: blink $i * 0.2s ease-out infinite;
    }
  }

  &[d-italic] {
    font-style: italic;
  }

  &[d-underline] {
    text-decoration: underline;
  }
}

@keyframes blink {
  50% {
    opacity: .25;
  }
}

.b_speaker {
  background-image: linear-gradient(0deg, rgba(#000,.1) 60%, rgba(#000,0) 40%, rgba(#000,0) 0), linear-gradient(0deg, rgba(#000,.4), rgba(#000,0));
  background-position: center, center;
  background-size: 20px auto, cover;
  bottom: 292px;
  box-shadow: inset 0 0 0px 2px rgba(0,0,0,0.2);
  color: #fff;
  filter: drop-shadow(4px 4px 0 rgba(#000,.4));
  font-size: 32px;
  font-weight: bold;
  height: 34px;
  left: 12px;
  outline: 2px solid #fff;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
  word-wrap: break-word;
}